[Unit]
Description=Homepage Web Service
After=network.target
Requires=network.target

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
WorkingDirectory=/home/web/dennis-schoen-de
ExecStart=/home/web/dennis-schoen-de/web_unix --ssl --ssl-cert=/etc/letsencrypt/live/dennis-schoen.de/fullchain.pem --ssl-key=/etc/letsencrypt/live/dennis-schoen.de/privkey.pem
User=web
Group=web
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
