{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{template "description" .}}">
    <meta name="author" content="Dennis Schön">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{template "title" .}}" />
    <meta property="og:url" content="{{template "url" .}}" />
    <meta property="og:image" content="https://www.dennis-schoen.de/img/dennis.jpg" />
    <meta property="og:description" content="{{template "description" .}}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@roccoblues" />
    <meta name="twitter:title" content="{{template "title" .}}" />
    <meta name="twitter:description" content="{{template "description" .}}" />
    <meta name="twitter:image" content="https://www.dennis-schoen.de/img/dennis.jpg" />

    <title>{{template "title" .}}</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css">
  </head>
  <body>
    <div class="max-width-3 mx-auto mt2 px2">
      {{template "body" .}}
    </div>
  </body>
</html>
{{end}}
