{{template "base" .}}

{{define "title"}}Dennis Schön{{end}}
{{define "description"}}Personal homepage of Dennis Schön{{end}}
{{define "url"}}https://www.dennis-schoen.de{{end}}

{{define "body"}}
  <p class="center mt3">
    <a href="/">
    <img alt="profile photo of Dennis Schön" height="150" width="150" class="circle" src="/static/img/dennis.jpg">
    </a>
  </p>
  <p class="mt4">
    Hi, my name is Dennis Schön. I live with my family in Lüneburg, Germany.
  </p>
  <p>
    I work as freelance software engineer. My resume is <a class="link" href="/resume">here</a>, if you want to find out more about what I do.
  </p>
  <p class="mt3">
    You can reach me at:
    <br class="md-hide lg-hide">
    <em>mail (at) dennis-schoen.de</em>
  </p>
{{end}}
