{{template "base" .}}

{{define "title"}}{{.CV.Name}} - Resume{{end}}
{{define "description"}}Resume of {{.CV.Name}} - {{.CV.Title}}{{end}}
{{define "url"}}https://www.dennis-schoen.de/resume{{end}}

{{define "body"}}
  {{with .CV}}
  <div class="md-flex border-bottom py3">
    <div>
      <h1 class="mt0">{{.Name}}</h1>
      <h3 class="mt0">{{.Title}}</h3>
    </div>
  </div>
  <div class="md-flex border-bottom py3">
    <div class="col-12 md-col-3 caps bold mb2">
      Summary
    </div>
    <div class="col-12 md-col-9">
      <ul class="my0">
        {{- range .Summary }}
        <li>{{.}}</li>
        {{- end}}
      </ul>
    </div>
  </div>
  <div class="md-flex border-bottom py3">
    <div class="col-12 md-col-3 caps bold mb2">
      Experience
    </div>
    <div class="col-12 md-col-9">
      {{- range $i, $e := .Experience -}}
        {{with $e}}
        <div class="md-flex {{if ne $i 0}}mt3{{end}}">
          <div class="col-12 md-col-8 bold">{{.Title}}</div>
          <div class="bold ml-auto">{{.StartDate}} - {{with .EndDate}}{{.}}{{else}}Present{{end}}</div>
        </div>
        {{with .Employer}}
          {{if .URL}}
            <a href="{{.URL}}" target="_blank">{{.Name}}</a>
          {{- else -}}
            {{.Name -}}
          {{- end}}, {{.Location}}
        {{end}}
        <p class="h5">
          {{.Description}}
          {{if .Technology}}
            <br>
            Technologies used:
            <i>
              {{StringsJoin .Technology ", " }}
            </i>
          {{end}}
        </p>
        {{end}}
      {{- end}}
    </div>
  </div>
  <div class="md-flex border-bottom py3">
    <div class="col-12 md-col-3 caps bold mb2">
      COURSES
      &
      TRAINING
    </div>
    <div class="col-12 md-col-9">
      {{- range $i, $t := .Trainings -}}
      {{with $t}}
      <div class="flex {{if ne $i 0}}mt2{{end}}">
        <div class="col col-8 bold">{{.Title}}</div>
        <div class="col col-4 bold text-right">{{.Year}}</div>
      </div>
      <a href="{{.Issuer.URL}}" target="_blank">{{.Issuer.Name}}</a>{{with .Issuer.Location}}, {{.}}{{end}}
      {{end}}
      {{- end}}
    </div>
  </div>
  <div class="md-flex border-bottom py3">
    <div class="col-12 md-col-3 caps bold mb2">
      Language Skills
    </div>
    <div class="col-12 md-col-9">
      <table>
        {{- range .Languages}}
        <tr>
          <td><strong>{{.Language}}:</strong></td>
          <td>{{.Level}}</td>
        </tr>
        {{- end}}
      </table>
    </div>
  </div>
  {{end}}
{{end}}
